if SHIELD_TERENCE0_LEFT

config ZMK_KEYBOARD_NAME
    default "Terence0"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_TERENCE0_LEFT || SHIELD_TERENCE0_RIGHT

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

endif